body {
	font-family: "Noto Sans", "Open Sans", sans-serif;
	max-width: 50em;
	margin: 2em auto;
}

pre {
	margin: 0;
}

h3 {
	border-bottom: 0.15em solid black;
}

table {
	width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-collapse: collapse;
}

th {
	background-color: #f0f0f0;
}

th, td {
	text-align: center;
	border: 1px solid #eee;
}

table.changes > tbody > tr > td {
	white-space: pre;
}

table.changes > tbody > tr > td:first-child {
	font-family: monospace;
	width: 1px;
	padding-right: 1em;
}

.additions {
	background-color: green;
}
.deletions {
	background-color: #B00;
}
.additions, .deletions {
	display: inline-block;
	height: 1em;
	vertical-align: middle;
}

.dirlist {
	font-family: monospace;
	font-size: 1.1em;
	list-style: none;
	white-space: pre;
}

/* Doc diffs */

body > table.diff > tbody > tr > td {
	padding: 0.5em 1em 0 0;
	vertical-align: top;
}

body > table.diff > tbody > tr > td:first-child {
	font-weight: bold;
	width: 1px;
	white-space: pre;
}
